<template>
    <div class="form-control task-input">
        <input v-model="taskInput" @keyup.enter="addTask" :disabled="loading">
        <button :class="['send', {'loading': loading}]" @click="addTask">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
        </button>
    </div>
</template>

<script setup>
    import { inject, ref } from 'vue';

    const todoist = inject('todoist');
    const eventBus = inject('eventBus')

    const taskInput = ref('');
    const loading = ref(false);

    function addTask()
    {
        if (loading.value) {
            return;
        }

        //TODO: Add section support
    
        loading.value = true;

        todoist.addTask(taskInput.value)
            .then(task => {
                loading.value = false;
                taskInput.value = '';

                if (task.section_id) {
                    todoist.project.sections[task.section_id].tasks[task.id] = task;
                } else {
                    todoist.project.tasks[task.id] = task;
                }

                eventBus.emit('update', todoist.project);
            })
            .catch()
    }
</script>