<script setup>
    import { defineProps } from 'vue';
    import Task from '../components/Task.vue';

    const props = defineProps(['checked', 'section', 'text']);
</script>
<template>
    <div class="section">
        <h3>{{ section.name }}</h3>
        <template v-if="Object.values(section.tasks).length > 0">
            <Task v-for="task in section.tasks" :key="task.id" :task="task" :checked="checked"/>
        </template>
        <template v-else>
            <span>{{ text }}</span>
        </template>
    </div>
</template>