<script setup>
    const props = defineProps(['forceDarkMode', 'textColor', 'accentColor', 'backgroundColor'])
</script>
<template>
    <component :is="'style'" v-if="forceDarkMode">
    :root {
      --text-color: var(--dark-text-color) !important;
      --background-color: var(--dark-background-color) !important;
      --border-color: var(--dark-border-color) !important;
      --due-overdue-color: var(--dark-due-overdue-color) !important;
      --due-today-color: var(--dark-due-today-color) !important;
      --due-tomorrow-color: var(--dark-due-tomorrow-color) !important;
      --due-future-color: var(--dark-due-future-color) !important;
    }
  </component>
  <component :is="'style'" v-if="textColor || accentColor || backgroundColor">
    :root {
      <template v-if="textColor">
        --text-color: {{ textColor }} !important
      </template>
      <template v-if="accentColor">
        --accent-color: {{ accentColor }} !important
      </template>
      <template v-if="backgroundColor">
        --background-color: {{ backgroundColor }} !important;
      </template>
    }
  </component>
</template>