<script setup>
    import { defineProps, computed, inject } from 'vue';
    import { toRefs } from "@vue/reactivity";

    const props = defineProps(['task', 'checked']);
    const { task } = toRefs(props);
    const options = inject('options');
    const locale = options.get('locale', navigator.language);

    function check()
    {
        props.checked(task.value);
    }

    const dueTime = computed(() => {
        if (task.value.due.datetime) {
            const dateObject = new Date(task.value.due.datetime); 
            const dayName = dateObject.toLocaleDateString(locale, { weekday: 'long' });
            const time = dateObject.toLocaleTimeString(locale, { hour: "2-digit", minute: "2-digit" });

            return `${dayName} ${time}`;
        } else {
            return new Date(task.value.due.date)
                .toLocaleDateString(locale, { weekday: 'long' });
        }
    })

    const dueColorClass = computed(() => {
        const today = new Date();
        const tomorrow = new Date(today);
        const dateObject = task.value.due.datetime
            ?  new Date(task.value.due.datetime)
            :  new Date(task.value.due.date);

        tomorrow.setDate(today.getDate() + 1);

        if (dateObject.toDateString() == today.toDateString()) {
            return 'date_today';
        } else if (dateObject < today) {
            return 'date_overdue';
        } else if (dateObject.toDateString() == tomorrow.toDateString()) {
            return 'date_tomorrow';
        } else if (dateObject > tomorrow) {
            return 'date_future';
        }
    })
</script>
<template>
    <div :class="['task', {'checked': task.isCompleted }]" @click="check">
        <div class="checkbox">
            <svg height="800px" width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.837 17.837" xml:space="preserve">
                <g>
	                <path style="fill:#030104;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27
                        c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0
                        L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"/>
                </g>
            </svg>
        </div>
        <span class="content">{{ task.content }}</span>
        <template v-if="options.get('detail', false) && task.due">
            <div :class="['detail', dueColorClass]">
                <span class="planned">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192H400V448c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V192z"/>
                    </svg>
                    <span class="due-time">
                        {{ dueTime }}
                    </span>
                </span>
                <span class="recurring" v-if="task.due.isRecurring">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M105.1 202.6c7.7-21.8 20.2-42.3 37.8-59.8c62.5-62.5 163.8-62.5 226.3 0L386.3 160H336c-17.7 0-32 14.3-32 32s14.3 32 32 32H463.5c0 0 0 0 0 0h.4c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5zM39 289.3c-5 1.5-9.8 4.2-13.7 8.2c-4 4-6.7 8.8-8.1 14c-.3 1.2-.6 2.5-.8 3.8c-.3 1.7-.4 3.4-.4 5.1V448c0 17.7 14.3 32 32 32s32-14.3 32-32V396.9l17.6 17.5 0 0c87.5 87.4 229.3 87.4 316.7 0c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.5 62.5-163.8 62.5-226.3 0l-.1-.1L125.6 352H176c17.7 0 32-14.3 32-32s-14.3-32-32-32H48.4c-1.6 0-3.2 .1-4.8 .3s-3.1 .5-4.6 1z"/>
                    </svg>
                </span>
            </div>
        </template>
    </div>
</template>