<template>
    <div class="wizard">
        <div class="form-control">
            <label>Access key</label>
            <input v-model="accessKey">
        </div>

        <div class="form-control">
            <label>Project Id</label>
            <input v-model="projectId">
        </div>

        <div class="form-control">
            <label>Filter</label>
            <input v-model="filter">
        </div>

        <div class="form-control">
            <button type="button" @click="generate">
                Generate hash url
            </button>
        </div>

        <a :href="hash" @click.stop.prevent="visit">{{ hash }}</a>
    </div>
</template>

<script setup>
    import { ref } from 'vue';

    const accessKey = ref('');
    const projectId = ref('');
    const filter = ref('');
    const hash = ref('');

    function fixedEncodeURIComponent(str) {
        return encodeURIComponent(str).replace(/[!'()*]/g, function(c) {
            return '%' + c.charCodeAt(0).toString(16);
        });
    }

    function generate() {
        hash.value = window.location.href
            + '#'
            + '?access_key=' + accessKey.value
            + '&project_id=' + projectId.value;

        if (filter.value.length > 0) {
            hash.value += '&filter='
                + fixedEncodeURIComponent(filter.value);
        }
    }
    
    function visit() {
        window.location.href = hash.value;
        window.location.reload();
    }
</script>