<script setup>
  // Import libraries
  import { onMounted, inject, ref } from 'vue';

  // Import components
  import Input from './components/Input.vue';
  import Loading from './components/Loading.vue';
  import Section from './components/Section.vue';
  import Task from './components/Task.vue';
  import Working from './components/Working.vue';
  import Wizard from './components/Wizard.vue';
  import Style from './components/Style.vue';

  // Fetch options from hash
  const params = new URLSearchParams(window.location.hash.substr(1));
  const options = inject('options');

  const accessKey = options.set('access_key', params.get('access_key'));
  const projectId = options.set('project_id', params.get('project_id'));
  const taskFilter = options.set('filter', params.get('filter'));
  const showInput = options.set('input', params.get('input'));
  const showDetail = options.set('detail', params.get('detail') === 'true');
  const locale = options.set('locale', params.get('locale') || navigator.language);
  const syncFrequency = options.set('sync_freq', params.get('sync_freq') >= 300 ? params.get('sync_freq') : 300);

  // Css related options
  const forceDarkMode = options.set('force_dark_mode', params.get('force_dark_mode'));
  const textColor = options.set('text_color', params.get('text_color'));
  const accentColor = options.set('accent_color', params.get('accent_color'));
  const backgroundColor = options.set('background_color', params.get('background_color'));

  // Text related options
  const noTaskText = options.set('no_task_text', params.get('no_task_text') || 'No tasks');

  // Setup API & Project library
  const todoist = inject('todoist').setup(accessKey);
  const eventBus = inject('eventBus');
  const project = ref({});

  // Rendering variables
  const working = ref(false);
  var syncInterval = setInterval(sync, syncFrequency * 1000);

  const renderKey = ref(0);

  function updateTask(task) {
    todoist.closeTask(task);
  }

  function updateProject(projectData) {
    project.value = projectData;

    renderKey.value = Math.random() * 100;
  }

  function fetch() {
    todoist.getProject(projectId, {
      ...(taskFilter && {filter: taskFilter}),
    })
      .then(projectData => {
        updateProject(projectData);
      })
      .catch(error => {
        console.log(error);
      })
  }

  function sync() {
    working.value = true;

    todoist.getTasks(project.value.id, {
      ...(taskFilter && {filter: taskFilter}),
    })
      .then(projectData => {
        updateProject(projectData);
      })
      .catch(error => {
        console.log(error)
      })
      .finally(() => {
        working.value = false;
      });
  }

  eventBus.listen('sync', () => {
    clearInterval(syncInterval);
    syncInterval = setInterval(sync, 300000);

    sync();
  });

  eventBus.listen('update', e => {
    updateProject(e.detail);
  })

  onMounted(() => {
    if (accessKey) {
      fetch();
    }
  });
</script>
<template>
  <Style
    :forceDarkMode="forceDarkMode"
    :textColor="textColor"
    :accentColor="accentColor"
    :backgroundColor="backgroundColor"
  />

  <template v-if="accessKey">
    <div class="project" v-if="project.id" :key="renderKey">
      <h2 class="title">{{ project.name }}</h2>
      <template v-if="Object.values(project.tasks).length > 0">
        <Task v-for="task in project.tasks" :key="task.id" :task="task" :checked="updateTask"/>
      </template>
      <template v-else>
        {{ noTaskText }}
      </template>
      <div class="sections">
        <Section v-for="section in project.sections" :key="section.id" :section="section" :checked="updateTask" :text="noTaskText"/>
      </div>
      <Input v-if="showInput == 'true'"/>
    </div>
    <Loading v-else/>
    <Working v-if="working"/>
  </template>
  <Wizard v-else/>
</template>