:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent-color: #ff0000;

  /* Color settings  */
  --text-color: var(--light-text-color);
  --detail-color: var(--light-detail-color);
  --background-color: var(--light-background-color);
  --border-color: var(--light-border-color);
  --due-overdue-color: var(--light-due-overdue-color);
  --due-today-color: var(--light-due-today-color);
  --due-tomorrow-color: var(--light-due-tomorrow-color);
  --due-future-color: var(--light-due-future-color);

  /* Light colors */
  --light-text-color: #000;
  --light-detail-color: #d1453b;
  --light-background-color: #fff;
  --light-border-color: #00000033;
  --light-due-overdue-color: #d1453b;
  --light-due-today-color: #058527;
  --light-due-tomorrow-color: #eb8909;
  --light-due-future-color: #692fc2;

  /* Dark colors */
  --dark-text-color: #fff;
  --dark-detail-color: #d1453b;
  --dark-background-color: #000;
  --dark-border-color: #ffffff33;
  --dark-due-overdue-color: #ff7066;
  --dark-due-today-color: #25b84c;
  --dark-due-tomorrow-color: #ff9a14;
  --dark-due-future-color: #a970ff;

  color: var(--text-color);
  background-color: var(--background-color);

  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif;
}

body {
  margin: 0;
}

#app {
  padding: 1rem;
}

h2 {
  margin-top: 0;
}

@keyframes pulseAnim {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: .5;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotateAnim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes spinAnim {
  0% {
      transform: rotate(0deg) scale(1.6);
  }

  to {
      transform: rotate(1turn) scale(1.6);
  }
}

div.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.loading svg {
  width: 100px;
  height: 100px;
  animation: pulseAnim 1s infinite;
}

.project h2.title {
  margin-bottom: 5px;
}

.section {
  margin-bottom: 30px;
}

.section:nth-child(1) {
  margin-top: 30px;
}

.section:last-of-type {
  margin: 0;
}

.section h3 {
  margin: 0 0 5px 0;
}

.task {
  cursor: pointer;
  margin-bottom: 10px;
}

.task .checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

.task .checkbox svg {
  display: inline-block;
  width: 60%;
  height: 60%;
  margin: 0 0 0 0;
}

.task .checkbox svg path {
  fill: transparent !important;
}

.task span {
  margin-left: 10px;
}

.task .detail {
  margin: 5px 0 0 20px;
  font-size: 12px;
}

.task .detail.date_overdue,
.task .detail.date_overdue svg path {
  color: var(--due-overdue-color);
  fill: var(--due-overdue-color);
}

.task .detail.date_today,
.task .detail.date_today svg path {
  color: var(--due-today-color);
  fill: var(--due-today-color);
}

.task .detail.date_tomorrow,
.task .detail.date_tomorrow svg path {
  color: var(--due-tomorrow-color);
  fill: var(--due-tomorrow-color);
}

.task .detail.date_future,
.task .detail.date_future svg path {
  color: var(--due-future-color);
  fill: var(--due-future-color);
}

.task .recurring svg,
.task .planned svg {
  width: 12px;
  height: 12px;
}

.task.checked span.content {
  text-decoration: line-through;
  color: var(--border-color);
}

.task:hover .checkbox {
  border-color: red;
  background-color: red;
}

.task.checked .checkbox {
  border-color: var(--border-color);
  background-color: var(--border-color);
}

.task.checked .checkbox svg path {
  fill: var(--border-color) !important;
}

.task:hover .checkbox svg {
  display: inline-block;
}

.task:hover:not(.checked) .checkbox svg path {
  fill: white !important;
}

.working {
  width: 20px;
  height: 20px;
  animation: rotateAnim 1s ease infinite;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.working path {
  fill: var(--text-color);
}

.task:active .checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.task:active .checkbox svg {
  display: inline-block;
}

.task:active:not(.checked) .checkbox svg path {
  fill: white !important;
}

.wizard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-control {
  margin-bottom: 15px;
}

.form-control label {
  display: block;
}

.form-control button,
.form-control input {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  border: 1px solid var(--border-color);
  background: none;
  color: var(--text-color);
}

.form-control button {
  cursor: pointer;
}

.task-input {
  display: block;
  width: 100%;
  margin: 30px 0 0;
}

.task-input input {
  width: calc(100% - 74px);
  margin-right: 15px;
  border-radius: 33px;
}

.task-input button.send {
  background: var(--accent-color);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  padding: 10px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.task-input button.send.loading svg {
  animation: spinAnim 2s linear infinite;
}

.task-input button.send svg {
  transform: scale(1.6);
}

.task-input button.send svg path {
  fill: var(--text-color);
}

@media(hover: hover) {
  .task:hover .checkbox {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
  }

  .task:hover .checkbox svg {
    display: inline-block;
  }
  
  .task:hover:not(.checked) .checkbox svg path {
    fill: var(--text-color) !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--dark-text-color);
    --background-color: var(--dark-background-color);
    --border-color: var(--dark-border-color);
    --due-overdue-color: var(--dark-due-overdue-color);
    --due-today-color: var(--dark-due-today-color);
    --due-tomorrow-color: var(--dark-due-tomorrow-color);
    --due-future-color: var(--dark-due-future-color);
  }
}